.footer{
    background-color: $background-color;
    margin-top: 5rem;
    padding: .5rem;

    .footer-logo{
        text-align: center;
        img{
            width: 15rem;
        }
        p{
            font-size: 1.2rem;
            color: $text-color;
        }
        button{
            background-color: $primary-color;
            border: none;
            border-radius: 5px;
            color:$text-color;
            margin-top: 2rem;
            padding: 15px 30px;
            font-size: 1.3rem;
        }
    }
    .footer-links{
        border-top: 1px solid $text-color;
        padding: 10px 0;
        margin-top: 5rem;
        button{
            color: $text-color;
            transition: all 200ms ease-in-out;
            cursor: pointer;
            font-weight: 400;
            background: none;
            border: none;
            margin-right: 15px;
        }
    }
    .copyRight{
        text-align: center;
        margin-top: 1rem;
        p{
            display: inline;
            color: $text-color;
        }
        .developer{
            margin-left: 5px;
            color: $primary-color;
        }
    }
}